# rename this file from example.env to .env

SECRET_KEY = '1234brpgx1234!hp@-u73+wy^+n^i(_^&d3(fd31234**f!3&i'
DEBUG=True
ALLOWED_HOSTS=.localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend